.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 25px;
}

#mainContainer {
  height: 600px;
}

.row {
  display: flex;
  flex-direction: row;
  width: 600px;
  flex-grow: 1;
}

.square {
  border: 1px solid #000;
  flex-grow: 1;
}

h1 {
  text-align: center;
}

.active {
  background-color: red;
}


button {
  padding: 8px 12px;
  background-color: #3865ff;
  color: white;
  font-weight: 700;
  font-size: 24px;
  border: 2px solid #1d4ffb;
  border-radius: 8px;
  cursor: pointer;
}
